<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <header>
    <img src="{{ url_for('static', filename='logo.svg') }}" alt="MergePDFs Logo" height="60">
    <h2>User Logs</h2>
  </header>
  <ul>
    {% for log in logs %}
      <li>{{ log.timestamp }} - {{ log.ip }} - {{ log.device }} - {{ log.os }} - {{ log.browser }}</li>
    {% endfor %}
  </ul>
   <footer>
    <p>Built by Jagdev Singh Dosanjh — <a href="https://github.com/jagdevsinghdosanjh/mergepdfs" target="_blank">View on GitHub</a></p>
  </footer>
</body>
</html>
